<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
</head>

<body>

    <header>
        <h1>Task <span>List</span></h1>
        <h2>A Simple Full-Stack To-Do List App</h2>
    </header>

    <aside class="side-bar">
      <i class="fas fa-clipboard-list"></i>
      <p>TASK LIST</p>
    </aside>

    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here...">
    </section>

    <ul class="list"></ul>

    <script type="text/javascript" src="app.js"></script>
</body>
